footer {
  display: flex;
  flex-direction: column;
  background-color: #444;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.container {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	width: 100%;
	max-width: 1200px;
}